@import '_common';
@import 'utils';

.movie-card {
  @extend .rounded;
  width: 240px;
  height: 360px;
  cursor: pointer;
  transition: all linear .2s;
  background-size: cover;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  font-weight: bold;
  font-size: x-large;
  padding: 16px;
  position: relative;
  margin: auto;
  overflow-y: auto;
}

.movie-card:hover, .movie-card:focus {
  transform: scale(1.1);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px, rgba(255, 255, 255, 0.2) 0px 8px 24px, rgba(255, 255, 255, 0.2) 0px 16px 48px;
}

.no-image {
  background-position: center;
  background-size: cover;
}

.movie-overview {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
  font-weight: normal;
  font-size: 12px;
  position: absolute;
  width: 100%;
  text-shadow: none;
  top: 0;
  height: 100%;
  margin-left: -16px;
  overflow-y: hidden;
  opacity: 0.85;
  padding: 8px;
}